@import '../../../index.scss';

$sidebar_component_bg: linear-gradient(to right, #00f2ff, #1900ff);
$sidebar_component_padding: 16px;
$technology_gr: #FFF;
$technology_text_color: #222;
// $technology_gr: linear-gradient(to right, $common_bgc2, #00f2ff);

.project_btn {
    outline: none;
    border: none;
    background: transparent;
    color: #e6dcdc;
    font-size: 75px;
    cursor: pointer;
    height: 98%;
    width: 10%;
    user-select: none;
    &:hover {
        color: #FFF;
        transition: all 0.7s ease;
    }
}

.projectPage {
    @extend .container;
    .mainContent {
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 20px;
        .project {
            width: 60%;
            .projectDisplay {
                position: relative;
                .project_btn_prev {
                    position: absolute;
                    @extend .project_btn;
                    &:hover {
                        box-shadow:inset 40px 0px 40px 0px #222;
                    }
                }
                .project_btn_next {
                    right: 0px;
                    position: absolute;
                    @extend .project_btn;
                    &:hover {
                        box-shadow:inset -40px 0px 40px 0px #222;
                    }
                }
                .project_image {
                    width: 100%;
                }
            }
            .dots {
                display: flex;
                justify-content: center;
                .dot {
                    width: 13px;
                    height: 13px;
                    margin: 0px 7px;
                    border-radius: 50%;
                    transition: all 0.3s ease;
                    background: $common_bgc;
                    cursor: pointer;
                }
                .activeDot {
                    width: 13px;
                    height: 13px;
                    margin: 0px 7px;
                    border-radius: 50%;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    background: $common_replace_Color;
                    scale: 1.4;
                }
            }
        }
        .sidebar {
            width: 35%;
            .sidebar_title {
                margin-block-start: 0em;
                margin-block-end: 0em;
                font-family: $Raleway;
            }
            p {
                margin-block-start: 0em;
                margin-block-end: 0em;
                font-weight: 300;

            }
            div {
                margin: 10px 0px;
            }
            h4 {
                font-size: 23.5px;
            }
            .technologies {
                background: $sidebar_component_bg;
                padding: $sidebar_component_padding;
                margin-top: 0px;
                .technologies_content {
                    display: flex;
                    flex-wrap: wrap;
                }
                .technology {
                    background: $technology_gr;
                    color: $technology_text_color;
                    padding: 5px;
                    font-size: 14px;
                    width: fit-content;
                    font-weight: 600;
                    margin-right: 5px;
                    margin-top: 0px;
                    margin-bottom: 5px;
                }
            }
            .date {
                background: $sidebar_component_bg;
                color: #FFF;
                padding: $sidebar_component_padding;
                p {
                    color: $technology_text_color;
                    font-weight: 600;
                    display: inline-block;
                    background: $technology_gr;
                    padding: 5px;
                    margin: 5px 0;
                }
            }
            .online {
                color: #FFF;
                background: $sidebar_component_bg;
                padding: $sidebar_component_padding;
                a {
                    background-color: $technology_gr;
                    text-decoration: none;
                    color: $technology_text_color;
                    display: inline-block;
                    padding: 5px;
                    margin: 5px 0;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .specification {
        width: 100%;
        margin-top: 30px;
        .inf_title {
            font-family: $Raleway;
            font-size: 45px;
            margin-block-start: 0em;
            margin-block-end: 0em;
        }
        p {
            color: #FFF;
        }
    }
}

@media screen and (max-device-width: 1000px) {
    
    .projectPage {
        .mainContent {
            display: flex;
            flex-direction: column;
            .project {
                width: 99%;
            }
            .sidebar {
                margin-top: 15px;
                width: 99%;
            }
        }
    }
}

@media screen and (max-device-width: 620px) {
    .project_btn {
        outline: none;
        border: none;
        background: transparent;
        font-size: 45px;
        cursor: pointer;
        height: 98%;
        width: 10%;
        user-select: none;
        &:hover {
            color: #FFF;
            transition: all 0.7s ease;
        }
    }
}