@import '../../../index.scss';

.nav {
    transition: all 0.2s ease-out 0s, opacity 0.2s 0s;
    margin-left: 80px;
    user-select: none;
    height: 99.5vh;
    position: fixed;
    background: linear-gradient(180deg, rgba(10, 25, 41, 0.95) 0%, rgba(15, 36, 56, 0.95) 100%);
    backdrop-filter: blur(10px);
    border-right: 1px solid rgba(0, 212, 255, 0.2);
    
    .list { 
        height: 100%;
        width: 100%;
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-inline-start: 0px;
    }
}

@media screen and (max-device-width: 1000px) {
    .nav {
        margin-left: 0px;
        width: 100%;
        height: calc(100vh - 80px);
        margin-top: 80px;
        position: fixed;
        top: 80px;
        left: 0;
        
        .list { 
            height: 100%;
            width: 100%;
            margin-block-start: 0em;
            margin-block-end: 0em;
            padding-inline-start: 0px;
        }
    }
}