@import '../../../index.scss';

.nav {
    transition: all 0.2s ease-out 0s, opacity 0.2s 0s;
    margin-left: 80px;
    user-select: none;
    height: 99.5vh;
    position: fixed;
    .list { 
        height: 100%;
        width: 100%;
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-inline-start: 0px;
    }
}