@import "../../../index.scss";

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.container {
    @extend .container;
}

.greetings {
    display: block;
    font-size: 40px;
    line-height: 1.4;
}

.main {
    width: 700px;
}

.inf {
    font-size: 41px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    line-height: 1.1;
}

.about {
    p {
        font-weight: 300;
        font-size: 20px;
    }
}

.navigationPanel {
    display: flex;
    align-items: center;
}
