@import '../../../../index.scss';

.AboutContainer {
    @extend .container;
    .realInformation {
        background: #202E54;
        padding: 25px;
        margin: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .inf {
            width: 73%;
            .infTitle {
                font-size: 2em;
                margin-block-start: 0em;
                margin-block-end: 0em;
            }
            .infText {
                font-size: 1.075em;
            }
        }
        .photo {
            width: 25%;
            img {
                width: 250px;
                height: 240px;
                display: block;
            }
        }
    }
}

