@import '../../../index.scss';

.navPanel__btn {
    line-height: 1.2;
    background: transparent;
    position: relative;
    white-space: nowrap;
    z-index: 1;
    border: 2px solid #e2786c;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease 0s, background 0.3s ease 0s, border 0.3s ease 0s;
    cursor: pointer;
    font-size: 1.25rem;
    padding: 22px 35px;
    display: inline-block;
    text-decoration: none !important;
    font-family: $Raleway;
    font-weight: bold;
}

.hoverBackground:hover {
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-name: scale;
    animation-fill-mode: forwards;
}

@keyframes scale {
    0% {
        position: absolute;
        color: #fff;
        background: #e2786c;
        width: 10px;
        height: 10px;
        bottom: 0px;
        right: 0px;
        display: none;
    }
    100% {
        width: 100%;
        height: 100%;
    }
    1% {
        display: block;
    }
}

.hoverBackgroundFinish {

}