@import '../../../index.scss';

.navPanel__btn {
    padding: 15px 30px;
    font-size: 18px;
    color: #ffffff;
    background-color: #FF5733; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-decoration: none;
}

.navPanel__btn:hover {
    background-color: #E04E2E; 
    transform: scale(1.1); 
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2)
}

@media (max-width: 480px) {
    .navPanel__btn {
        padding: 12px 24px;
        font-size: 16px;
    }
}