@import '../../../index.scss';

.navPanel__btn {
    line-height: 1.2;
    background: transparent;
    position: relative;
    white-space: nowrap;
    z-index: 1;
    border: 2px solid #e2786c;
    padding: 22px 35px;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease 0s, background 0.3s ease 0s, border 0.3s ease 0s;
    cursor: pointer;
    font-size: 1.25rem;
    display: inline-block;
    text-decoration: none !important;
    font-family: $Raleway;
    font-weight: bold;
}