@import '../../../../index.scss';

.listItem {
    cursor: pointer;
    height: 25%;
    width: 340px;
    flex: 1 1 0%;
    background: linear-gradient($header_gradient);
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #374365;
    transition: all 0.2s ease-out 0s, opacity 0.2s 0s;

    .listLink {
        text-decoration: none;
        color: #FFF;
        font-family: $Raleway;
        font-size: 1.4em;
        font-weight: bold;
    }

    .subLink {
        font-family: $Lato;
        color: $main_text_color;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
}

.listItemActive {
    height: 25%;
    cursor: pointer;
    width: 340px;
    flex: 1 1 0%;
    background: $common_bgc;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #374365;
    transition: all 0.2s ease-out 0s, opacity 0.2s 0s;

    .listLink {
        text-decoration: none;
        color: $common_replace_Color;
        font-family: $Raleway;
        font-size: 1.4em;
        font-weight: bold;
    }

    .subLink {
        font-family: $Lato;
        color: #FFF;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
}

.hoveredlistLink {
    text-decoration: none;
    color: $common_replace_Color;
    font-family: $Raleway;
    font-size: 1.4em;
    font-weight: bold;
    color: $common_replace_Color;
}
.hoveredsubLink {
    color: #FFF;
    font-family: $Lato;
    color: #FFF;
    margin-block-start: 0em;
    margin-block-end: 0em;
}


@media screen and (max-device-width: 1000px) {
    .listItem {
        cursor: pointer;
        height: 25%;
        width: 100%;
        flex: 1 1 0%;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 0.2s ease-out 0s, opacity 0.2s 0s;

        .listLink {
            text-decoration: none;
            color: #FFF;
            font-family: $Raleway;
            font-size: 1.4em;
            font-weight: bold;
        }

        .subLink {
            font-family: $Lato;
            margin-block-start: 0em;
            margin-block-end: 0em;
        }
    }

    .listItemActive {
        height: 25%;
        cursor: pointer;
        width: 100%;
        flex: 1 1 0%;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid #374365;
        transition: all 0.2s ease-out 0s, opacity 0.2s 0s;

        .listLink {
            text-decoration: none;
            font-family: $Raleway;
            font-size: 1.4em;
            font-weight: bold;
        }

        .subLink {
            font-family: $Lato;
            color: #FFF;
            margin-block-start: 0em;
            margin-block-end: 0em;
        }
    }
}