@import '../../index.scss';
@import '../Footer/footer.module.scss';

.header {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #23325b, #1c2849);
    .headerInfContainer {
        @extend .container;
        h2 {
            @extend .mainTitle;
            line-height: 1.2;
        }
        p {
            @extend .subMainText;
            line-height: 1.2;
            font-size: 18px;
            margin-block-start: 0em;
            margin-block-end: 0em;
        }
    }
}