@import "../../index.scss";

.mainTitle {
    font-size: 36px;
    font-family: $Raleway;
}
.subMainText {
    font-size: 14px;
    font-weight: 300;
    font-family: $Lato;
}

.footer {
    background: linear-gradient(to right, #23325b, #1c2849);
    width: 100%;
    height: 300px;
    color: #fff;
    display: flex;
    align-items: center;
    .footerInfContainer {
        @extend .container;
        .textWrapper {
            width: 400px;
            h2 {
                @extend .mainTitle;
            }
            p {
                @extend .subMainText;
            }
        }
        .navigationPanel {
            display: flex;
            align-items: center;
        }
    }
}
