@import "../../../index.scss";

.contactContainer {
    min-height: 100vh;
    @extend .container;
    background: linear-gradient($header_gradient);
    margin:40px;
    padding: 40px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4 {
    font-family: $Raleway;
    font-size: 1.6em;
}

.inf {
    p {
        color: $main_text_color;
        font-family: $Lato;
    }
}

.inf__title {
    color: $common_replace_Color;
    font-size: 2.4em;
    line-height: 1.6;
    font-family: $Lato;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.contact {
    display: flex;
    justify-content: center;
    text-align: center;
}

.contactForm {
    width: 40%;
    h4 {
        color: $common_replace_Color;
    }
}

.list {
    color: $main_text_color;
    list-style: none;
}

.listItemMarked {
    color: $common_replace_Color;
}

.listItemMarkedLink {
    color: $common_replace_Color;
    text-decoration: none;
}

.textfield-title {
    font-size: 0.875em;
    font-family: $Raleway;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: bold;
}

.textfieldBlock {
    margin: 10px 0px;
    .textfield_title {
        @extend .textfield-title;
    }
    .textfield {
        min-width: 90%;
        padding: 12px;
        border: 2px solid #555e77;
        background: $common_bgc;
        -webkit-text-fill-color: #b3b7c2;
        caret-color: #b3b7c2;
        outline: none;
    }
}

.textareaBlock {
    .textfield_title {
        @extend .textfield-title;
    }
    .textarea {
        min-width: 90%;
        padding: 12px;
        border: 2px solid #555e77;
        background: $common_bgc;
        -webkit-text-fill-color: #b3b7c2;
        caret-color: #b3b7c2;
        resize: vertical;
        height: 90px;
        outline: none;
    }
}

.errorMessage {
    padding: 20px 0px;
    p {
        color: red;
        font-size: 14px;
    }
}


@media only screen and (max-device-width: 1024px) {
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}