@import './index.scss';

.dFlexContainer {
    display: flex;
}

.App {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 112.5%;
    line-height: 1.6;
    font-family: $Lato;
}

.Main {
    background: #16203A;
    width: 100%;
    height: 100%;
}