@import "./index.scss";

.dFlexContainer {
    display: flex;
}

.App {
    margin: 0;
    padding: 0;
    color: $main_text_color;
    font-size: 112.5%;
    line-height: 1.6;
    font-family: $Lato;
    background: $common_bgc;
    min-height: 100vh;
}

.Main {
    background: linear-gradient(135deg, $common_bgc, $common_bgc2);
    width: calc(100% - 80px);
    height: 100%;
    transform: translateX(80px);
    transition: all 0.4s ease;
}

.MainActive {
    background: linear-gradient(135deg, $common_bgc, $common_bgc2);
    width: calc(100% - 340px);
    height: 100%;
    transform: translate(400px, 3%) rotateY(-16deg) scale(0.85, 0.94);
    transition: transform 0.4s ease 0s;
    overflow: hidden;
    min-height: 100vh !important;
    perspective: 500px;
}

/* Tablet and smaller desktops */
@media screen and (max-width: 1024px) {
    .dFlexContainer {
        display: flex;
        flex-direction: column;
    }

    .Main {
        background: linear-gradient(135deg, $common_bgc, $common_bgc2);
        width: 100%;
        height: 100%;
        transform: translateX(0px) translateY(80px);
    }
    
    .MainActive {
        background: linear-gradient(135deg, $common_bgc, $common_bgc2);
        width: 100%;
        height: 100%;
        transform: none;
        overflow: auto;
        min-height: 100vh !important;
        perspective: none;
    }
}

/* Small phones */
@media screen and (max-width: 576px) {
    .App {
        font-size: 100%;
    }
    
    .Main, .MainActive {
        width: 100%;
        transform: none !important;
    }
}