body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$Lato: 'Lato', sans-serif;
$Raleway: 'Raleway, sans-serif';

.container {
  width: 90%;
  margin: 0px auto;
  max-width: 1200px;
}

/* Responsive typography */
html {
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
  
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 14px;
  }
  
  .container {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 13px;
  }
}

img {
  user-select: none;
}

ul {
  padding-inline-start: 0px;
  margin-block-end: 1.5em;
}

// Common colors
$dark_bg: #0a1929;
$dark_bg_light: #132f4c;
$cyan_primary: #00d4ff;
$cyan_light: #20e5ff;
$purple_primary: #b366ff;
$purple_dark: #7c3aed;
$teal_accent: #06dba8;

$common_replace_Color: #00d4ff;

$common_bgc: #0a1929;
$common_bgc2: #0f2438;
$bgc_for_prj: #132f4c;

$main_text_color: #e0e0e0;
$text_secondary: #a0a0a0;

$linkBtn_border: 2px solid #00d4ff;

$header_gradient: 135deg, #1a3a52 0%, #0a1929 100%;
$footer_gradient: 135deg, #0a1929 0%, #1a3a52 100%;
