body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$Lato: 'Lato', sans-serif;
$Raleway: 'Raleway, sans-serif';

.container {
  width: 90%;
  margin: 0px auto;
}

img {
  user-select: none;
}

ul {
  padding-inline-start: 0px;
  margin-block-end: 1.5em;
}

// Common colors

$common_replace_Color: #FFD700;

$common_bgc: #005f40;
$common_bgc2: #3fdda8;
$bgc_for_prj: #392727;

$main_text_color: #f0f0f0;

$linkBtn_border: 2px solid #FF00FF;

$header_gradient: to bottom, $common_bgc, $common_bgc2;
$footer_gradient: to top, $common_bgc, $common_bgc2;
